<%- include('header.ejs')%>
<div class="kick_me">
    <!--
        Landing page, site , shops
    -->
    <div class="container1">
        <div class="wrap-container see" style="background-image:none;color:#404040;  font-family: 'Montserrat', sans-serif ">
             <div class="breadcrumps">
                 <span><a href="/">Главная</a></span>
                 <span><a href="/services">Услуги </a></span>
                 <span><a href="<%=url %>"> <%=name%></a></span>
             </div>
             <div id="service_price">
                  <div id="category_price">
                       <div class="inner-left" >
                           <h1><%= name%></h1>
                           <div class="line"><img src="/public/Line.svg" alt="..."></div>
                           <p><%=p1%></p>
                           <p><strong><%=p2 %></strong></p>
                           <p><%=p3%></p>
                              <div class="list">
                                <ul>
                                    <% ul.forEach( elem=>{%>  
                                    <li><%=elem %></li>
                                  <%})%>
                                </ul>
                              </div>
                              <div class="price"> <span class="price__title ">Цена: </span> <span class="price__cost">От <%=price %> [grn.]</span></div> 
                       </div>
                   <div class="inner_right" > <img src="<%=img%>" alt="hello"></div>

                  </div>
             </div>
        </div>
    </div>
    
</div>     

<section class="course block block--default">
    <div class="course__wrapper container5">
        <h2 class="course__title h h--2">Как для Вас мы разработаем  <%=name%></h2>

        <!--   если количество карточек кратно 3 добавляем класс  course__list--three  -->
        <ul class="course__list course__list--three">
            <li class="course__item">
                <div class="course__pic">
                    <picture>
                       <img class=" lazy" src="https://248006.selcdn.ru/LandGen/desktop_2_459ab8845aef3dc0e0fe4438d9a699c5dcfafb5e15815927146085.webp">
                    </picture>
                </div>
                <h3 class="course__subtitle">ИССЛЕДОВАНИЕ </h3>
                <p class="course__desc">
                    Портрет целевой аудитории - выявляем реальные потребности/возражения ваших клиентов. И "закрываем" их выгодами и гарантиями. 

                </p>
            </li>
            <li class="course__item">
                <div class="course__pic">
                    <picture>
                       <img class=" lazy" src="https://248006.selcdn.ru/LandGen/desktop_17363bd93a300530bd5373c798bdc6c4a50f304215815927514185.webp">
                    </picture>
                </div>
                <h3 class="course__subtitle">ДИЗАЙН</h3>
                <p class="course__desc">
                    Разрабатывается индивидуальный дизайн в соответствии с тематикой товара или услуги.
                </p>
            </li>
            <li class="course__item">
                <div class="course__pic">
                    <picture>
                       <img class=" lazy" src="https://248006.selcdn.ru/LandGen/desktop_5272b997c47679e5ba70852050d01b725003c5c71581592732455.webp">
                    </picture>
                </div>
                <h3 class="course__subtitle">РАЗРАБОТКА</h3>
                <p class="course__desc">
                    Внедряются самые последние стандарты. Сайт будет максимально быстро и корректно работать во всех браузерах
                </p>
            </li>
        </ul>
    </div>
</section>        

<section class="section blue white pshik">
    <div class="chick"></div>
    <div class="chick2"></div>
    <div class="tool"></div>

    <div class="container" >
         <div class="wrap-container fjj" style="background-image: none; width:85%;">
             <%-include('contact.ejs')%>
         </div>
    </div>
</section>
<%-include('footer.ejs')%>