<%- include('header.ejs')%>
<div class="kick_me">
    <!--
        Landing page, site , shops
    -->
    <div class="container1">
        <div class="wrap-container see" style="color:#404040;  font-family: 'Montserrat', sans-serif ">
             <div class="breadcrumps">
                 <span><a href="/">Главная</a></span>
                 <span><a href="/services">Услуги </a></span>
                 <span><a href="<%=url %>"> <%=name%></a></span>
             </div>
             <div id="service_price">
                  <div id="category_price">
                       <div class="inner-left" >
                           <h1><%= name%></h1>
                           <div class="line"><img src="/public/Line.svg" alt="..."></div>
                           <p><%=p1%></p>
                           <p><strong><%=p2 %></strong></p>
                           <p><%=p3%></p>
                              <div class="list">
                                <ul>
                                    <% ul.forEach( elem=>{%>  
                                    <li><%=elem %></li>
                                  <%})%>
                                </ul>
                              </div>
                              <div class="price"> <span class="price__title">Цена: </span> <span class="price__cost">От <%=price %> [grn.]</span></div> 
                       </div>
                   <div class="inner_right" > <img src="<%=img%>" alt="hello"></div>

                  </div>
             </div>
        </div>
    </div>
    
</div>     
   
<section class="section blue white">
    <div class="container">
         <div class="wrap-container" style="background-image: none;">
             <%-include('contact.ejs')%>
         </div>
    </div>
</section> 
<%-include('footer.ejs')%>