<%-include('header.ejs')%>
<div class="fixs">
    <div class='w31'>
        <div><img alt="..." id="s" ></div>
    </div>
    <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
            <g fill="none" fill-rule="evenodd" transform="translate(2 2)">
                <circle cx="12" cy="12" r="12" fill="#FFF" opacity="1"></circle>
                <circle cx="12" cy="12" r="12.75" stroke="#222D38" stroke-width="1.5" opacity="1"></circle>
                <g fill="#222D38" opacity="1" transform="translate(6 6)">
                    <rect width="1.611" height="13.9" x="5.435" y="-.941" rx=".806" transform="rotate(45 6.24 6.01)"></rect>
                    <rect width="1.611" height="13.9" x="5.435" y="-.941" rx=".806" transform="scale(-1 1) rotate(45 0 -9.058)"></rect>
                </g>
            </g>
        </svg>
    </div>
</div>
<div class="kick_me lks" style="background-color: white;" >
    <div class="container2" >
        <div class=" see" style="margin-top:80px;background-image:none;color:black;  font-family: 'Montserrat', sans-serif ">
          <div class="container1" style="width:100%">  
          
             <section class="section--black wrap-container">
                  <div class="container" >
                        <div class="grid">
                            <div class="_col-1"><div class="bgcolor-white"></div></div>
                             <div class="_col-3 special">
                                 <div class="title--section">ПЕРЕСТАНЬТЕ ЗАКАЗЫВАТЬ ПРОСТО САЙТЫ</div>
                                 <div class=" _mb-def">
                                     <div class="title--big">
                                        ДАВАЙТЕ 
                                        ДИДЖИТАЛИЗИРУЕМ 
                                        ВАШ БИЗНЕС!
                                     </div>
                                  </div>  
                                  <div class="speak"> 
                                      <div class="some">
                                          <div class="text-w11 _mb-sm">
                                              Пишите,<br>пообщаемся, договоримся!
                                             </div>
                                               <a href="#" class="link-email">led2017l@gmail.com</a>
                                            </div>
                                  </div>

                                  <div class="buttons width_all  " style="justify-content: start;">
                                    <a   href="#orderme"class="newbutton orange" style="font-weight: 500; border-radius: 0;width:220px">Заказать </a>
                                 </div>

                             </div>
                             <div class="_col-g ">
                                 <img src="/public/img_banner.svg">
                             </div>
                          </div>   
                  </div>         
             </section>
             
        </div>
        <section class="qla qla1">
            <div class="container1 myl" style="padding-bottom: 0;">
            
             <!--Start-->
             <div class="container flex1 gg doo">
                <div class="imagel im" style="margin:0 auto">   
                    <!--Start-->  
                     <div>
                         <img src="../public/laptop.png" style="width:100%;height:100%;    object-fit: contain;
                         max-height: 400px;">
                     </div>     
                    <!--End-->  
                </div>
                <div class="about_us gu">
                     <div>
                         <h1 class="about_h1 ogo txt_center dic" style="max-width:90%;max-width: 90%;
                         margin: 10px auto !important;font-family: 'Nunito' !important;">   Любой может сделать из простого сложное.
                            Я умею превращать сложное в простое.</h1>
                     </div>
                     
                </div>
            </div>

             <!--End-->
            
                <div class='yyd yyd1' >
                    <div class="showreel-box">
                        <div class="video-opener"> 
                               <div class="video-opener-box">
                              </div>
                           <div class="showreel-box__info">
                               <div class="showreel-box__title">Technologies</div>
                           </div> 
                         </div>
                       </div>
                      <div id="my_port">
      
                            <div id="ban">
                              <a class="service_wrap_item hove mine none_imp wrap jj" >
                                  <div class="qoutes">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class="shadow love  " id="gsx">
                                         <div class="block1"></div>
                                         <div class="block2">
                                             
                                         </div >
                                         <div class="info not_column  sgx gogo">
                                             <h4 class="flexik"> 
                                                 
                                                 <div class="name">Имя проекта</div >
                                                 <div class="service_wrap_item  smalltext space-around opisanie">
                                                     Описание проекта 
                                                 </div>
                                                 <div class="price ogo" style="display:none">
                                                      <span class="price__title">Цена: </span> 
                                                      <span class="price__cost ticktick" >От 700[grn.]</span>
                                                 </div> 
                                              </h4>
                                             <div class="dr">
                                                 <img src="/public/first.png" class="menu_icon" alt="...">
                                             </div>
                                         </div>
                                  </div>                   
                              </a> 
                            </div>
      
      
                            <div class="service_wrap wrap  bab" style="padding-top:0;">
                              
                              <a class="service_wrap_item hove"  href="#gsx" data-id="1" style=" background-image: url('/public/te1.png');background-position: center top;">
                                  <div class="qoutes ">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class="shadow lightgray">
                                         <div class="info">
                                             <h4> Landing</h4>
                                             <div>
                                                    <div href="#"class="watch">Посмотреть</div>
                                                    
                                             </div>
                                      </div>
                                  </div>                   
                              </a> 
                              <a class="service_wrap_item hove "  href="#gsx" data-id="2" style=" background-image: url('/public/81.png'); background-position: center top;">
                                  <div class="qoutes">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class='shadow lightgray'>
                                     
                                         <div class="info">
                                             <h4> Магазин</h4>
                                             <div>
                                                <div href="#"class="watch">Посмотреть</div>
                                             </div>
                                         </div>
                                  </div>                   
                               </a>                                            
      
                               <a class="service_wrap_item hove"  href="#gsx"  data-id="3" style=" background-image: url('/public/mythree.png'); background-position: center top;" >
                                  <div class="qoutes">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class="shadow lightgray">
                                         <div class="info ">
                                             <h4> Portfolio</h4>
                                             <div>
                                                 <div href="#"class="watch">Посмотреть</div>
                                             </div>
                                          </div>
                                  </div>                                    
                               </a >
      
                               
                            </div>   
      
                      </div>
                </div>
                </div>
            </div>
            
        </section>
    </div>
</div>
<section class='qla'>
    <div class="container flex1 gg doo dds">
        <div class="imagel im" style="margin:0 auto">   
            <!--Start-->  
             <div class="djs">
                 <img src="//cdn.programiz.com/sites/tutorial2program/files/mobile-isometric.png" >
             </div>     
            <!--End-->  
        </div>
        <div class="about_us gu">
             <div>
                 <h1 class="about_h1 ogo txt_center dic" style="max-width:90%;max-width: 90%;
                 margin: 10px auto !important;font-family: 'Nunito' !important;"> Для меня каждый проект - это комплекс услуг, который включает аналитику, проектирование, дизайн, разработку продукта</h1>
             </div>
             
        </div>
    </div>

</section>   
<section class="section blue fixic lulu" style="padding-top:50px ; margin-top:0 !important; background:white !important;" >
    <div class="container pos_rel" style="padding: 0;">
         
         <div class="wrap-container pos_rel" style="width:100%">
              
              <div class=" clients jsa1 yyd1 ons" >
                  
                <div class="showreel-box">
                    <div class="video-opener" style="flex-basis: auto;"> 
                           <div class="video-opener-box">
                          </div>
                       <div class="showreel-box__info">
                           <div class="showreel-box__title" style="padding-bottom: 0;">Примеры работ</div>
                       </div> 
                     </div>
                   </div>                
<!----Start-->
<div id="my_port" style="width:100%">
      
 
    <div class="service_wrap wrap  bab none" style="padding-top:0;">
        <% portfolio.forEach(elem=>{ %>

      <a class="fines service_wrap_item hove bas none " data-id="1"  data-url="<%=elem.photo[1]%>" style="background: url(<%=elem.photo[0]%>);    background-position-x: center;">
          <div class="qoutes ">	
              <div class="relative all">
                  <div>&#8411;</div>
               </div>
          </div>

          <div class="shadow lightgray">
                 <div class="info">
                     <h4> <%=elem.description.title%> </h4>
                     <div>
                            <div href="#"class=" orange showme">Посмотреть</div>
                            
                     </div>
              </div>
          </div>                   
      </a>        
      <%})%>
    </div>   

</div>
<!--End-->

                 
                 
                  <div class="buttons width_all jus_center " style="position: relative; z-index: 30;margin-left:0" >
                       <a href="#orderme" class="newbutton orange" style="font-weight: 500; border-radius: 0;width:220px;margin: 20px 0">Заказать </a>
                  </div>
               </div>
         </div>
    </div>
</section>


<section class="section gray1 sveti">
    <div class="container">
         <div class="d_f ">
             <div class="cov">
                 <img src="https://art-lemon.com/data/landing/guarantee-image.jpg"/>
             </div>
             <!--Start-->
             <div class="iit">
                   <div class="text-holder">
                        <span class="title ">Мои гарантии</span>
                        <p >Я работаю на результат.
                          Постоянно поддерживаю связь с клиентами и учитываю все их пожелания.
                       </p>
                         <ul>
                              <li class="item-1"> 
                                  <span class="title-block tit">Качество</span> 
                                  <p>После запуска целевой страницы увеличится количество и качество заявок, 
                                      гарантированно поднимется конверсия и доверие к бренду.</p> 
                              </li> 
                              <li class="item-2"> 
                                  <span class="title-block tit">Надежность</span> 
                                  <p>Мой  опыт обеспечит разработку исключительно работающих, проверенных и надежных 
                                      методов достижения продаж. </p>
                              </li>
                               <li class="item-3">
                                    <span class="title-block tit">Безопасность</span>
                                    <p>Я  гарантирую конфиденциальность
                                         и неразглашение информации третьим лицам.</p>
                               </li>
                           </ul>
                       </div>
  
             </div>
             <!--End-->
         </div>
    </div>
  </section>
<section class="section blue white pshik">
    <div class="chick"></div>
    <div class="chick2"></div>
    <div class="tool"></div>

    <div class="container" >
         <div class="wrap-container fjj" style="background-image: none; width:85%;">
             <%-include('contact.ejs')%>
         </div>
    </div>
</section>
<%-include('footer.ejs')%>